.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
    url(/images/HomePageBannerReduced.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1;
  height: 60vh;
}

.whiteTitle {
  color: #fff;
  text-shadow: 2px 3px 5px #000;
  font-size: 3.1rem;
  margin-bottom: -20px;
  text-align: center;
}

.blueTitle {
  /* color: #7594d1; */
  color: #f7ea72;
  display: block;
  text-shadow: 2px 3px 8px #000;
  font-size: 3.8rem;
  line-height: 0.8;
  margin-top: 22px;
  text-align: center;
}

@media (min-width: 1400px) {
  .blueTitle {
    font-size: 9rem;
  }
  .whiteTitle {
    font-size: 6rem;
    margin-bottom: -40px;
  }
}
